.App {

  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
}

.header{
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #008cba;
  margin: 1.5 0px;
  color: aliceblue;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
